<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <validation>
    <type name="TancleDataModel.Model.Sickness" assemblyName="TancleDataModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
      <ruleset name="SicknessNo">
        <properties>
          <property name="SicknessNo">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              upperBound="200" messageTemplate="View_Validation_SicknessNo_Length" name="String Length Validator" />
          </property>
        </properties>
      </ruleset>
      <ruleset name="SicknessName">
        <properties>
          <property name="SicknessName">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              upperBound="200" messageTemplate="View_Validation_SicknessName_Length" name="String Length Validator" />
          </property>
        </properties>
      </ruleset>
      
    </type>
  </validation>
</configuration>